radio-header {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--text-secondary);
    font-size: 0.8rem;
}

radio-header label {
    display: block;
    text-decoration: underline;
    color: var(--text-secondary);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

radio-section {
    display: none;
    flex-direction: column;
    gap: 15px;
}

content input[type='radio'][item='0']:checked ~ radio-header label[item='0'],
        content input[type='radio'][item='1']:checked ~ radio-header label[item='1'],
        content input[type='radio'][item='2']:checked ~ radio-header label[item='2'],
        content input[type='radio'][item='3']:checked ~ radio-header label[item='3'] {
    color: var(--primary);
}

content input[type='radio'][item='0']:checked ~ radio-section[item='0'],
        content input[type='radio'][item='1']:checked ~ radio-section[item='1'],
        content input[type='radio'][item='2']:checked ~ radio-section[item='2'],
        content input[type='radio'][item='3']:checked ~ radio-section[item='3'] {
    display: flex;
}

radio-section div {
    display: flex;
    gap: 20px;
}

radio-section div:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: solid 1px var(--background-shimmer);
}

radio-section key {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 200px;
}

radio-section key h3 {
    margin: 0;
    font-size: 1.5rem;
}

radio-section key h2 {
    margin: 0;
    font-size: 1rem;
    color: var(--text-secondary);
    font-weight: normal;
}

radio-section svg {
    display: block;
    flex: 1;
    fill: var(--primary-transparent);
    stroke: var(--primary);
}














