<%- include('../../fragments/header') %>

            <content>
                <header>
                    <h3>Preferences</h3>
                </header>

            </content>

<%- include('../../fragments/footer') %>