tab {
    display: none;
}

tab:target {
    display: block;
}

body:not(:has(tab:target)) tab#main {
    display: block;
}

fl-head cell.checkbox,
        fl-body cell.checkbox {
    min-width: unset;
    flex: none;
}

fl-head cell.checkbox label,
        fl-body cell.checkbox label {
    display: block;
    cursor: pointer;
}

fl-head cell.checkbox svg,
        fl-body cell.checkbox svg {
    display: block;
    height: 1.2rem;
    fill: var(--text-primary);
}

fl-head cell.checkbox svg path,
        fl-body cell.checkbox svg path {
    d: path('M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z');
}

fl-head cell.checkbox input[type='checkbox']:checked ~ label svg path,
        fl-body cell.checkbox input[type='checkbox']:checked ~ label svg path {
    d: path('M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z');
}

a.button {
    display: block;
    padding: 12.5px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--background);
    background: var(--text-primary);
    border-radius: 7.5px;
    text-decoration: none;
    cursor: pointer;
}

a.icon-with-text {
    position: absolute;
    display: flex;
    right: 20px;
    bottom: 20px;
    padding: 12.5px 15px;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--background);
    background: var(--text-primary);
    border-radius: 7.5px;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover,
        a.icon-with-text:hover {
    background: var(--text-secondary);
}

a.icon-with-text svg {
    display: block;
    height: 1.5rem;
    fill: var(--background);
}

form content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 20px
}
