<form>
    <fl-select>
        <fl-option value='A'>A</fl-option>
        <fl-option value='AAAA'>AAAA</fl-option>
        <fl-option value='CAA'>CAA</fl-option>
        <fl-option value='CERT'>CERT</fl-option>
        <fl-option value='CNAME'>CNAME</fl-option>
        <fl-option value='DNSKEY'>DNSKEY</fl-option>
        <fl-option value='DS'>DS</fl-option>
        <fl-option value='HTTPS'>HTTPS</fl-option>
        <fl-option value='LOC'>LOC</fl-option>
        <fl-option value='MX'>MX</fl-option>
        <fl-option value='NAPTR'>NAPTR</fl-option>
        <fl-option value='NS'>NS</fl-option>
        <fl-option value='PTR'>PTR</fl-option>
        <fl-option value='SMIMEA'>SMIMEA</fl-option>
        <fl-option value='SRV'>SRV</fl-option>
        <fl-option value='SSHFP'>SSHFP</fl-option>
        <fl-option value='SVCB'>SVCB</fl-option>
        <fl-option value='TLSA'>TLSA</fl-option>
        <fl-option value='TXT'>TXT</fl-option>
        <fl-option value='URI'>URI</fl-option>
    </fl-select>

    <input name='name' type='text' />

    <fl-select>
        <fl-option value='Auto'>Auto</fl-option>
        <fl-option value='1 min'>1 min</fl-option>
        <fl-option value='2 min'>2 min</fl-option>
        <fl-option value='5 min'>5 min</fl-option>
        <fl-option value='10 min'>10 min</fl-option>
        <fl-option value='15 min'>15 min</fl-option>
        <fl-option value='30 min'>30 min</fl-option>
        <fl-option value='1 hr'>1 hr</fl-option>
        <fl-option value='2 hr'>2 hr</fl-option>
        <fl-option value='5 hr'>5 hr</fl-option>
        <fl-option value='12 hr'>12 hr</fl-option>
        <fl-option value='1 day'>1 day</fl-option>
    </fl-select>
</form>

