<%- include('../../../fragments/header') %>

            <content>
                <header>
                    <h1>DNS</h1>
                    <h3>Records</h3>
                </header>

                <fl-table>
                    <fl-head>
                        <row>
                            <cell>Type</cell>
                            <cell>Type</cell>
                            <cell>Name</cell>
                            <cell>Content</cell>
                            <cell>Proxy Status</cell>
                            <cell>TTL</cell>
                        </row>
                    </fl-head>
                    <fl-body>
                    </fl-body>
                </fl-table>
            </content>

            </content>

<%- include('../../../fragments/footer') %>
