<%- include('../../../fragments/header') %>

            <content>
                <header>
                    <h1>DNS</h1>
                    <h3>Settings</h3>
                </header>

            </content>

<%- include('../../../fragments/footer') %>