<%- include('../../fragments/header') %>

            <content>
                <header>
                    <h1>Overview</h1>
                    <h3><%= data.domain %></h3>
                </header>

                <input id='a' name='graph' type='radio' item='0'>
                <input id='b' name='graph' type='radio' item='1'>
                <input id='c' name='graph' type='radio' item='2'>

                <label for='a' item='0'>24 Hours</label>
                <label for='b' item='1'>7 Days</label>
                <label for='b' item='2'>30 Days</label>

                <section item-id='a' item='0'>


                </section>

            </content>

<%- include('../../fragments/footer') %>
