<%- include('../../fragments/header') %>

            <content>
                <header>
                    <h1>Overview</h1>
                    <h3><%= data.domain %></h3>
                </header>
            </content>

<%- include('../../fragments/footer') %>
