form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: start;
    gap: 20px;
}

field {
    display: flex;
    width: 100%;
    flex: 1;
    gap: 20px;
}

text-field {
    position: relative;
    display: inline-block;
    width: 100%;
    flex: 1;
    color: var(--text-primary);
    font-size: 1rem;
    margin-top: 0.5rem;
    border: solid 1px var(--background-shimmer);
    border-radius: 10px;
}

text-field:focus-within {
    border: solid 1px var(--primary);
}

text-field:before {
    display: block;
    position: absolute;
    top: -0.5rem;
    left: 20px;
    padding: 0px 8px;
    content: attr(label);
    font-size: 0.8rem;
    color: var(--text-secondary);
    background-color: var(--background-secondary);
}

text-field[required]:before {
    content: '*'attr(label);
}

text-field:focus-within:before {
    color: var(--primary);
}

input[type='text'] {
    display: block;
    width: calc(100% - 36px);
    padding: 13px 18px;
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
    transition: background-color 0.3s;
}

textarea {
    display: block;
    width: calc(100% - 36px);
    min-height: 150px;
    padding: 13px 18px;
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--white);
    background-color: transparent;
    resize: vertical;
    outline: none;
    border: none;
    transition: background-color 0.3s;
}


fl-select {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1;
    margin-top: 0.5rem;
    flex-direction: column;
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--text-primary);
    border: solid 1px var(--background-shimmer);
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

fl-select:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

fl-select:before {
    display: block;
    position: absolute;
    top: -0.5rem;
    left: 20px;
    padding: 0px 8px;
    content: attr(label);
    font-size: 0.8rem;
    color: var(--text-secondary);
    background-color: var(--background-secondary);
}

fl-select[required]:before {
    content: '*'attr(label);
}

fl-select span {
    display: block;
    padding: 13px 18px;
}

fl-select:after {
    position: absolute;
    display: block;
    content: '';
    right: 13px;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    background-image: url(/icons/ic_more.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s;
}

fl-select:focus:after {
    transform: rotate(-180deg);
}

fl-options {
    position: absolute;
    display: none;
    top: 100%;
    width: inherit;
    background: var(--background-shimmer);
    overflow-y: auto;
    max-height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

fl-select:focus fl-options {
    display: block;
}

fl-option {
    display: block;
    padding: 13px 18px;
}

fl-option:hover {
    background-color: var(--background);
}
