:root {
    --min-width: 800px;
    --top: 70px;
    --sidebar: 250px;

    --primary: #994ce0;
    --primary-transparent: #994ce030;
    --secondary: #6b339e;

    --background: #242424;
    --background-secondary: #141414;
    --background-shimmer: #343434;
    
    --text-primary: #e6e6e6;
    --text-secondary: #b3b3b3;

    --white: #efefef;
    --black: #000000;
    
    --ripple: #666666;
    --good: #53bd39;
    --error: #f55442;
}

html {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: 1rem;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

::-moz-selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

body {
    min-width: var(--min-width);
    margin: 0;
}


body > header {
    position: fixed;
    top: 0;
	width: 100%;
    color: var(--text-primary);
    z-index: 10;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

nav {
    white-space: nowrap;
}

body > header ul {
    display: flex;
    height: var(--top);
    align-items: center;
    column-gap: 20px;
    padding: 0;
    margin: 0 auto;
}

body > header li {
    display: inline-block;
}

body > header li[selected] {
    background-color: var(--text-secondary);
}

body > header li a,
        body > header li label.header {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: var(--text-primary);
    padding: 15px;
    text-decoration: none;
    z-index: 2;
    transition: background-color 0.2s;
    cursor: pointer;
}

body > header li.home {
    width: calc(var(--sidebar) + 15px);
}

body > header li.home a {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

body > header li.home a img {
    display: inline-block;
    height: 1.5rem;
}

body > header li.button a {
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--text-primary);
    background-color: var(--primary);
    transition: background-color 0.3s;
}

body > header li.button a:hover {
    background-color: var(--secondary);
}

body > header li search {
    display: flex;
    width: 600px;
    padding: 0 20px;
    gap: 10px;
    align-items: center;
    background-color: var(--background-shimmer);
    border: solid 1px var(--background);
    border-radius: 40px;
}

body > header li search svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--text-primary);
}

body > header li input[type='text'] {
    display: block;
    flex: 1;
    font-size: 1rem;
    padding: 15px 0;
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    outline: none;
}

body > header li search:focus-within {
    border: solid 1px var(--primary);
}





filler {
    flex: 1 1 1e-09px;
}

input[type='radio'],
        input[type='hidden'],
        input[type='checkbox'] {
    display: none;
}

iframe[name='hidden-frame'] {
    display: none;
}


body > section {
    display: flex;
    position: relative;
    top: var(--top);
    width: calc(100% - 30px);
    padding: 0 15px 15px 15px;
    gap: 20px;
}

sidebar {
    display: block;
    width: var(--sidebar);
    min-height: calc(100vh - var(--top) - 15px);
    font-size: 0.8rem;
    overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


sidebar ul {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    padding: 0;
    margin: 0;
}

sidebar li {
    display: block;
}

sidebar li ul {
    display: block;
    padding-left: calc(10px + 1rem);
}

sidebar li a {
    display: block;
    padding: 10px 15px;
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: 30px;
}

sidebar > ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
}

sidebar li a svg {
    display: block;
    height: 1rem;
    fill: var(--text-secondary);
}

sidebar li a[selected] {
    background-color: var(--primary);
}

sidebar li a[selected] svg {
    fill: var(--text-primary);
}

sidebar li a[selected] {
    color: var(--text-primary);
}

sidebar li a:not([selected]):hover {
    background-color: var(--background-shimmer);
}



section > content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - var(--top) - 55px);
    background-color: var(--background-secondary);
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
}

content header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

content header h3 {
    margin: 0;
    font-size: 1.5rem;
}

content header h1 {
    margin: 0;
    font-size: 1rem;
    color: var(--text-secondary);
}











footer {
    position: relative;
    display: flex;
    top: var(--top);
	width: calc(100% - 80px);
	min-width: calc(var(--min-width) - 80px);
    padding: 80px 40px 20px 40px;
    font-size: 1rem;
    background-color: var(--black);
    border-top: solid 3px var(--primary);
    align-items: center;
    flex-direction: column;
}

footer nav {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

footer nav div {
    flex: 1;
}

footer nav div[type='social'] {
    display: flex;
    gap: 20px;
}

footer nav div[type='social'] svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--text-primary);
    transition: fill 0.3s;
}

footer nav div[type='social'] a:hover svg {
    fill: var(--primary);
}

footer title {
    display: block;
    color: var(--text-primary);
    font-weight: 700;
    margin-bottom: 10px;
}

footer ul {
    display: block;
    padding: 0;
    margin: 0 auto;
}

footer li {
    display: block;
    padding: 2px 0;
}

footer li a {
    font-size: 0.8rem;
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

footer li a:hover {
    color: var(--primary);
}

footer year {
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    color: var(--white);
    border-top: solid 1px var(--white);
    line-height: 30px;
    font-size: 0.8rem;
}

footer year span {
    color: var(--primary);
}
